<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="me.jreilly.JamesTweet" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".Etc.TweetTweet"
        android:allowBackup="true"
        android:icon="@drawable/tw__ic_logo_blue"
        android:label="@string/app_name"
        android:theme="@style/CustomActionBarTheme" >
        <activity
            android:name=".Dashboard.DashActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".Profile.ProfileActivity"
            android:label="@string/app_name" >
        </activity>

        <meta-data
            android:name="com.crashlytics.ApiKey"
            android:value="9223035ce240f9ecc0ba6de792ad7def453bccf7" />

        <activity
            android:name=".Etc.LoginActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".TimelineService" />

        <activity
            android:name=".TweetView.TweetActivity"
            android:label="@string/title_activity_tweet" >
        </activity>
        <activity
            android:name=".Etc.ComposeActivity"
            android:label="@string/title_activity_compose"
            android:theme="@style/Theme.FloatingWindow.Popup"
            android:configChanges="orientation|screenSize"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden"
            android:clearTaskOnLaunch="true"
            android:exported="true">
        </activity>
    </application>

</manifest>
