<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="me.jreilly.JamesTweet" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".Etc.TweetTweet"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".DashActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".ProfileActivity"
            android:label="@string/app_name" >
        </activity>

        <meta-data
            android:name="com.crashlytics.ApiKey"
            android:value="9223035ce240f9ecc0ba6de792ad7def453bccf7" />

        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".TimelineService" />

        <activity
            android:name=".TweetActivity"
            android:label="@string/title_activity_tweet" >
        </activity>
    </application>

</manifest>
